*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}	

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

body{
	background: #0c739f url(../img/body.png);
	background-repeat:  repeat-x;
}

.wrapper{
	background: #ffffff;
	width: 1000px;
	margin: 40px auto 30px;
	box-shadow: 0 2px 8px 0;
	position: relative;

}
/*HADER*/
.header{
position: relative;
overflow: hidden;
}

.logo {
	margin: 10px 0 0 30px;
	display: inline-block;
}

.travel {
	position: absolute;
	font: 10px Tahoma, sans-serif;
	color: #128aa7;
	top: 90px;
	left: 50px;
}

.contacts {
float: right;
font: 14px Tahoma, sans-serif;
color: #128aa7;
margin: 10px 30px 0 0;

}
.countries {
position: absolute;
top: 113px;
left: 590px;
}

.countries a img{
display: block;
height: 40px;
width: 40px;
}

.countries a{
	display: inline-block;
	margin-right: 16px;
	font: 10px Tahoma, sans-serif;
    color: #128aa7;

}

.countries a:last-child{
margin: 0;
}

.photo img{
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #138aa7;
}

.photo {
	height: 237px;
}

.menu>ul{
background: linear-gradient(#363636, #303030);
border-bottom: solid 1px #000;
}

.menu>ul>li{
height: 33px;	
display: inline-block;
position: relative;
padding: 0 30px;
font: 14px Tahoma, sans-serif;
line-height: 30px;

}


.menu ul li ul{
position: absolute;
display: none;
}

.menu>ul>li:hover ul{
display: block;
margin: 0 auto;
background: #303030;
height: 124px;
width: 150px;
line-height: 25px;
padding: 0 0 0 15px;

}

.menu a{;

	color: #fff;
	font: 14px Tahoma, sans-serif;
}

.left{
	float: left;
	width: 210px;
	background: #edeef0;
	font: 14px Tahoma, sans-serif;
	color: #424c43;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	line-height: 25px;
	text-align: center;
	border-right: solid 1px #c7cacf;
}

.right{
	float: right;
	width: 210px;
	background: #edeef0;
	font: 14px Tahoma, sans-serif;
	color: #424c43;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
    line-height: 25px;
    text-align: center;
    border-left: solid 1px #c7cacf;

}

.content {
	overflow: hidden;
}

.footer {
	position: absolute;
	bottom: -25px;
	left: 365px;
	color: #fff;
}